LoadPlugin syslog
LoadPlugin cpu
LoadPlugin df
LoadPlugin disk
LoadPlugin ethstat
LoadPlugin interface
LoadPlugin load
LoadPlugin memory
LoadPlugin uptime
Include "/etc/collectd.d"
LoadPlugin network
<Plugin network>
Server "{{ groups["collectd_exporters"][0] }}" "{{ collectd_exporter_port }}"
</Plugin>
<Plugin network>
Server "{{ groups["collectd_exporters"][1] }}" "{{ collectd_exporter_port }}"
</Plugin>

